<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.dfm.miniproject.miniproject.mapper.BoardMapper" >

	<select id = "getOpenBoardList" resultType="java.util.List">
		select
			*
		from
			board
		where
			open_yn = 'Y'
	</select>

	<select id = "getAllBoardList" resultType="org.dfm.miniproject.miniproject.dto.BoardDTO">
		select
			*
		from
			board
	</select>
</mapper>