/* Header */
body {
    background-color: #faf8f6;
}

.header {
    width: 100%;
    height: 54px;
    line-height: 54px;
    background-color: white;
}

.header-left {
    display: inline-block;
}

.header-left img {
    position: relative;
    top: 7px;
    margin-left: 16px;
    width: 25px;
    height: 28px;
}

.header-left span {
    width: 30px;
    height: 15px;
    margin-left: 8px;
    font-size: 17px;
    font-weight: bold;
    color: #25272c;
}

.header-right {
    position: absolute;
    right: 16px;
    display: inline-block;
}

.header .write-button {
    width: 53px;
    font-size: 15px;
    color: #cd2b21;
    letter-spacing: -0.2px;
}

/* Feed List */
.feedList {
    padding-bottom: 24px;
}

.feedList .title-box {
    padding: 40px 16px 24px;
}

.feedList .title-box .title {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: -0.3px;
    color: #25272c;
}

/* Feed */
.feed {
    margin: 0 15px 24px;
    padding: 24px 16px 28px;
    background-color: white;
    border: solid 1px #ececef;
    border-radius: 5px;
    box-shadow: 0 8px 18px 0 rgba(137, 139, 147, 0.13);
    word-break: keep-all;
    transition: .12s ease-out;
}

.feed:last-child {
    margin-bottom: 0;
}

.feed .date span {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.2px;
    color: #898b93;
}

.feed .title {
    margin-top: 16px;
}

.feed .title span {
    font-size: 25px;
    font-weight: bold;
    color: #383b42;
    line-height: 1.4;
    letter-spacing: -0.3px;
}

.feed .writer {
    margin-top: 12px;
}

.feed .writer span {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: left;
    color: #da382e;
}

.feed .contents {
    margin-top: 24px;
}

.feed .contents div {
    font-size: 14px;
    color: #6d707b;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    word-wrap: break-word;
    line-height: 1.71;
    max-height: 64px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Feed Detail */
.feed.detail {
    margin: 0;
    margin-bottom: 24px;
    padding: 48px 32px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: all .08s ease-out;
}

.feed.detail .title{
    margin-top: 20px;
}

.feed.detail .contents div {
    font-size: 14px;
    color: #6d707b;
    display: block;
    max-height: none;
}


/* Global Write Button */

.global-write-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 54px;
    line-height: 54px;
    border-radius: 44px;
    background-color: #da382e;
    box-shadow: 0 2px 16px 0 rgba(137, 139, 147, 0.51);
    text-align: center;
    z-index: 9999;
}

.global-write-button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* loading */
.loadSection {
    position: relative;
    width: 100%;
    height: 10px;
    margin-bottom: 16px;
    z-index: 9999;
}

@keyframes pageLoading {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 4px solid #F44D43;
    border-right-color: transparent;
    background: transparent;
    animation: pageLoading 0.75s infinite;
    animation-timing-function: linear;
}
